// COLORS
$dark-default-color: #181818;
$white-default-color: #fff;
$accent-color: #8c5936;
$active-btn-color: #4d2c03f7;
$form-bg-color: #222;

// FONT
$default-font-size: 1.6rem;

// Stroke
$white-solid-stroke: 0.5px solid #fff;
$dark-solid-stroke: 1px solid #181818;
$accent-solid-stroke: 1px solid #8c5936;
$light-solid-stroke: 1px solid rgb(255 255 255 / 20%);
