@use "../base/typography";
@use "../abstracts/variables";
@use "../abstracts/mixins";

.gallery-search-panel {
  @include mixins.flex-center;

  gap: 2.4rem;
  margin-top: 12.4rem;
}

.gallery-search-container {
  display: block;
  width: 50%;
  position: relative;
  align-items: center;
}

.gallery-search-input {
  flex: 1;
  width: 100%;
  background-color: transparent;
  color: variables.$white-default-color;
  padding: 1.6rem;
  padding-right: 4rem;
  border: 1px solid variables.$accent-color;
  border-radius: 3rem;
}

.gallery-search-btn {
  background-color: transparent;
  border: none;
  color: variables.$white-default-color;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.gallery-filter-btn {
  background-color: transparent;
  border: none;
  color: variables.$white-default-color;
  cursor: pointer;
}

.gallery-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3.2rem;
  margin: 8rem 2rem;
  place-items: center;
  min-height: 30vh;

  @include mixins.respond(tab-land) {
    grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
    row-gap: 7.2rem;
  }

  @include mixins.respond(desktop) {
    place-items: start;
  }
}

.gallery-card {
  position: relative;
  border-radius: 2rem;
  border: variables.$white-solid-stroke;
  overflow: hidden;
  max-width: 30.2rem;
}

.gallery-card-features {
  font-size: 1.6rem;
  display: flex;
  gap: 1.6rem;
  margin-bottom: 1rem;
}

.gallery-card-feature {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  span {
    font-size: 3.2rem;
  }
}

.gallery-card-title {
  font-size: 1.6rem;
}

.gallery-card-amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.gallery-card-amenity {
  padding: 0.4rem 1.2rem;
  font-size: 1.2rem;
  border: variables.$accent-solid-stroke;
  border-radius: 2rem;
}

.gallery-card-img {
  max-width: 30rem;
  max-height: 30rem;
  aspect-ratio: 1/1;
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-card-details {
  padding: 2.4rem 1.6rem;
  display: grid;
  gap: 2.4rem;
  place-items: start;
}

.gallery-card-block {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.gallery-card-title,
.gallery-card-price {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;

  @include mixins.respond(tab-land) {
    font-size: 2rem;
  }
}

.gallery-card-location,
.gallery-card-area {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6rem;
  font-weight: 300;

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.gallery-card-type {
  padding: 1rem 1.6rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 2rem;
  border: variables.$accent-solid-stroke;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: variables.$white-default-color;
  color: variables.$accent-color;
}

.pagination-container {
  margin: 16rem 0 18rem;
}

.pagination {
  @include mixins.flex-center;
}

.pagination-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
}

.pagination-btn-svg {
  color: variables.$accent-color;
  width: 100%;
  height: 100%;

  &:active {
    color: variables.$white-default-color;
  }
}

.next {
  transform: rotate(180deg);
}

.pagination-list {
  margin: 0 1.6rem;
  display: flex;

  @include mixins.respond(tab-port) {
    margin: 0 4.8rem;
  }
}

.pagination-link {
  @include mixins.flex-center;

  width: 4.8rem;
  height: 4.8rem;
  margin: 1rem;
  border-radius: 50%;
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
}

.active {
  border: variables.$accent-solid-stroke;
  transition: all ease-in-out 0.3s;
}

.no-results {
  font-size: 4.2rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;

  @include mixins.respond(tab-land) {
    @include mixins.flex-center;

    height: 50vh;
    width: 100%;
  }
}

.filter-panel {
  @include mixins.flex-center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: variables.$dark-default-color;
  color: variables.$white-default-color;
  border-radius: 0.4rem;
  border: variables.$white-solid-stroke;
  padding: 4rem;
  flex-direction: column;
  z-index: 10000;

  @include mixins.respond(desktop) {
    padding: 0.8rem 4rem;
    width: 70vw;
    height: fit-content;
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    font-size: 2rem;
  }

  &__close-btn {
    font-size: 4.2rem;
    cursor: pointer;
  }

  &__form {
    display: grid;
    height: 100%;
    margin-top: 2rem;

    @include mixins.respond(tab-land) {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      gap: 3.2rem;
    }
  }

  &__group {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  &__input,
  &__select {
    width: 100%;
    padding: 8px;
    border: variables.$accent-solid-stroke;
    border-radius: 0.4rem;
    background-color: inherit;
    color: inherit;

    option {
      background-color: variables.$dark-default-color;
      color: inherit;
    }
  }

  &__checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }

  &__btn {
    background: variables.$accent-color;
    color: variables.$white-default-color;
    padding: 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;

    @include mixins.respond(tab-land) {
      grid-column: -1/1;
    }

    &:hover {
      background: variables.$active-btn-color;
    }
  }
}

.filter-panel.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
